<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>hello,  world</title>
  </head>
  <body>
    <p>
        メンテナンス用のページです。このページが閲覧できるということは何か問題が起きている可能性が高いです。解決に向けて努力中です。もうしばらくお待ち下さい。
    </p>
    <ul>
      <li>OS: <%= node[:platform] %> <%= node[:platform_version] %></li>
      <li>IP Address: <%= node[:ipaddress] %></li>
      <li>Hostname: <%= node[:hostname] %></li>
      <li>Recipes: <%= node[:recipes] %></li>
    </ul>
  </body>
</html>
